{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-console": 0,
    "react/jsx-filename-extension": [
      1,
      { 
        "extensions": [
          ".js", ".jsx"
        ]
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
      "js": "never",
      "jsx": "never"
      }
    ],
    "react/react-in-jsx-scope": "off"
  }
}