/* ************* Mobile View ************* */
.Signup {
    height: 100vh;
    background-color: var(--clr-light-royal-blue);
}

/* ------------- Side section ------------ */
.Signup__side {
    display: none;
}

/* ------------- Main section ------------ */
.Signup__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 26px;
    background-color: var(--clr-light-royal-blue);   
}

.Signup__main__logo-container {
    width: 100%;
}

.Signup__main__control-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    max-width: 270px;
    width: 100%;
    gap: 25px;    
}

/* ************* Tablet View ************* */
@media (min-width: 500px) {
/* ------------- Main section ------------ */
    .Signup__main__control-buttons {
        padding: 0;
        margin-top: 20px;
        max-width: 100%;
    }
}

/* ************* Laptop View ************* */
@media (min-width: 900px) {
    .Signup {
        display: flex;
        justify-content: center;
        background-color: white;
        overflow-y: hidden;
    }    
/* ------------- Side section ------------ */
    .Signup__side {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 26px;
         gap: 10px;
    }
    .Signup__side__illustration {
        width: 90%;
    }
/* ------------- Main section ------------ */
    .Signup__main {
        min-width: min(41%, 618px);
    }
    .Signup__main__logo-container {
        display: none;
    }
}