/* 
commented out for now as this was affecting all the buttons 
across the app

button {
  background-color: transparent;
  border: none;
}

button:hover {
  background-color: var(--clr-light-grey);
} */
