.Profile {
  display: flex;
  flex-direction: column;

  height: 83vh;
  padding: 4rem 2rem 0;
}

.Profile__heading {
  display: flex;
  justify-content: space-between;

  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.8rem;

  border-bottom: 1px solid #c4c4c4;
}

.Profile__heading > h2,
.Profile__heading > div {
  display: inline-block;
}

.Profile__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Profile__imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5rem 0;

  position: relative;
}

.Profile__picture {
  border-radius: 50%;
  height: 12.9rem;
  object-fit: cover;
  object-position: 0 0;
  width: 12.9rem;
}

.Profile__editPicture {
  background-color: var(--clr-pampas-pink);
  border: none;
  border-radius: 50%;

  position: absolute;

  height: 3rem;
  left: 22rem;
  top: 13.5rem;
  width: 3rem;
}

/* media queries for tablets */
@media (min-width: 768px) {
  /* styling for tablets or ipads */
  .Profile {
    padding: 6rem 8rem 0;
  }

  .Profile__imgContainer {
    padding: 9rem 0;
  }

  .Profile__editPicture {
    left: 35rem;
    top: 18rem;
  }
}

/* media queries for larger screens */
@media (min-width: 912px) {
  /* styling for larger screens */
  .Profile {
    height: 100vh;
    padding: 9rem 13.5rem 2rem;
  }

  .Profile__heading {
    width: 50%;
  }

  .Profile__imgContainer {
    justify-content: flex-start;

    padding: 9rem 0;
  }

  .Profile__editPicture {
    left: 11.5rem;
    top: 18rem;
  }

  .Profile__form label {
    display: block;
    width: 35%;
  }
}
