.Profile__imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5rem 0;
  margin: 0 auto;
  max-width: 20rem;

  position: relative;
}

.Profile__picture {
  border-radius: 50%;
  height: 12.9rem;
  object-fit: cover;
  object-position: 0 0;
  width: 12.9rem;
}

.Profile__editPicture {
  background-color: var(--clr-light-blue);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  position: absolute;
  left: 10.5rem;
  top: 15rem;
}

/* media queries for tablets */
@media screen and (min-width: 768px) {
  /* styling for tablets or ipads */
  .Profile__imgContainer {
    padding: 9rem 0;
  }

  .Profile__editPicture {
    left: 11rem;
    top: 18rem;
  }
}

/* media queries for larger screens */
@media screen and (min-width: 1024px) {
  /* styling for larger screens */
  .Profile__imgContainer {
    justify-content: flex-start;
    margin: 0;
    padding: 9rem 0;
  }

  .Profile__editPicture {
    left: 11rem;
    top: 18rem;
  }
}
