.messages {
  flex: 1;
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

/* Scrollbar styles */
.messages::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.messages::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--clr-greyish-pampas); 
  border-radius: 10px;
}
 
/* Handle */
.messages::-webkit-scrollbar-thumb {
  background: var(--clr-light-grey); 
}

/* Handle on hover */
.messages::-webkit-scrollbar-thumb:hover {
  background: var(--clr-london-hue); 
}

.message {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 20px;
}

.message:last-child {
  padding-bottom: 16px;
}

.message--user {
  align-self: flex-end;
  align-items: flex-end;
}

.message--user + .message--user,
.message--friend + .message--friend {
  margin-top: 16px;
}

.message__head {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.message__head--user {
  align-items: flex-end;
}

.message__head__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
}

.message__head__text h5 {
  color: var(--clr-black);
  font-size: 16px;
  line-height: 2rem;
  margin: 0;
}

.message__head__text small {
  color: var(--clr-grey);
}

.message__head--user h5 {
  display: none;
}

.message__head--user .message__head__text {
  order: -1;
  align-self: center;
}

.message__head__img {
  border: 2px solid var(--clr-royal-blue);
  border-radius: 50%;
  overflow: hidden;
}

.message__head img {
  object-fit: cover;
}

.message__head--user .message__head__img {
  width: 46px;
  height: 46px;
}

.message__head--friend .message__head__img {
  width: 60px;
  height: 60px;
}

.message__body {
  max-width: 500px;
  padding: 1rem 1.5rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.message__body--user {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.message__body--friend {
  background-color: var(--clr-royal-blue);
  color: var(--clr-white);
}

.message__body img {
  --img-bg-url: url('../../icons/chat-room/message-body-bg.png');
  max-width: 320px;
  max-height: 240px;
  border-radius: 15px;
  object-fit: contain;
  background-image: var(--img-bg-url);
}

@media(max-width: 768px) {
  .messages {
    height: 75vh;
    padding-right: 24px;
    margin-top: 16px;
    gap: 18px;
  }
  .messages::-webkit-scrollbar {
    display: none;
  }

  .message {
    gap: 10px;
  }

  .message__body {
    max-width: 80%;
    font-size: 14px;
  }
  
  .message__body img {
    max-width: 260px;
    max-height: 196px;
  }

  .message__head {
    gap: 12px;
  }
  
  .message__head__img {
    width: 32px !important;
    height: 32px !important;
  }

  .message__head__text {
    gap: 0;
  }

  .message__head__text h5 {
    font-family: var(--ff-text);
    font-size: 12px;
  }

  .message__head__text small {
    font-size: 12px;
  }
}