.button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 1.8rem;
  margin: 16px 0;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.button:active {
  box-shadow: inset 0 0 0.1rem #124,
    inset 0 0.1rem .4rem rgba(0, 0, 0, 0.4);
}

.button--add-friend {
  background-color: var(--clr-royal-blue);
  color: var(--clr-pampas-pink);
}

.button--send-picture {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.button--unfriend {
  color: var(--clr-danger-red);
  background-color: transparent;
  border: 1px solid var(--clr-danger-red);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.button--confirm,
.button--cancel {
  position: absolute;
  bottom: 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.button--confirm {
  right: 14.5rem;
  background-color: var(--clr-royal-blue);
  color: var(--clr-pampas-pink);  
}

.button--cancel {
  right: 3rem;
  background-color: var(--clr-light-blue);
  color: var(--clr-royal-blue);
}

.button--danger {
  background-color: var(--clr-danger-red);
}
 
.button--start-a-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 254px;
  border-radius: 15px;
  margin-top: 0px;
  padding: 0 23px;
  background-color: var(--clr-royal-blue);
  color: var(--clr-pampas-pink); 
  text-transform: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  
  
  font-size: 26px;
  font-family: var(--ff-text);
  /* For some reason font-weight: 400, the same as on figma is too bold in browser.
     That's why I had to lower it to 300 to achieve the same effect as in figma*/
  font-weight: 300;
  
}

@media(max-width:668px) {
  .button {
    font-size: 14px;
    margin: 0 auto;
  }

  .button--confirm,
  .button--cancel {
    bottom: 3rem;
  }
  .button--confirm {
    right: 13rem;
  }
  .button--cancel {
    right: 2rem;
  }

  
}

@media(max-width:768px) {
  .button--send-picture {
    width: 28px;
    height: 28px;
  }

  .button--start-a-chat > span {
    display: none;
  }

  .button--start-a-chat {
    height: 60px;
    width: 60px;
    padding: 0px;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    margin-bottom: 0;
    /* I put it little bit further from the edge (compared to figma design) to not cover the footer */
    bottom: 80px;
    right: 15px;
  }
}
