.modal {
    height: 476px;
    width: 100%;
    max-width: 384px;
    padding: 19px 29px;
    background-color: var(--clr-white);
    border-radius: 15px;
    top: 10%;
    margin: 0 auto;
    overflow: scroll;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }

.modal hr {
    height: 1px;
    background-color: var(--clr-grey);
    border: none;
    margin-bottom: 14px;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__header h4 {
    font-family:  var(--ff-text);
    color: var(--clr-black );
    font-size: 18px; 
}

.modal__close-button {
    background: none;
    color: var(--clr-dark-grey);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
