.Profile {
  border-radius: 2rem;
}

.Profile-heading {
  position: absolute;

  bottom: 80.66%;
  left: 5.33%;
  right: 78.93%;
  top: 13.64%;

  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.8rem;
}

.Profile-picture {
  position: absolute;

  height: 12.9rem;
  left: 12.3rem;
  top: 16.1rem;
  width: 12.9rem;
}

.Profile-cta-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.1rem 2.3rem;

  position: absolute;
  width: 25.4rem;
  height: 6.4rem;
  left: 19.5rem;
  top: 11.6rem;
}

.Profile-form {
  display: flex;
}

.Profile-form label {
  position: absolute;

  height: 2.1rem;
  left: 2.5rem;
  top: 35.2rem;
  width: 3.7rem;

  color: var(--clr-london-hue);
  font-family: inherit;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.Profile-form input {
  position: absolute;

  height: 4rem;
  left: 2rem;
  top: 46.8rem;
  width: 31.7rem;
}

.Profile-line {
  position: absolute;

  bottom: 79.91%;
  left: 4.8%;
  right: 7.2%;
  top: 20.09%;

  border: 1px solid #c4c4c4;
  transform: rotate(0.17deg);
}

.Profile-editBtn {
  position: absolute;

  height: 3.1rem;
  left: 22.8rem;
  top: 25.9rem;
  width: 3.1rem;
}

.Profile-icons {
  position: absolute;

  height: 3rem;
  left: 31rem;
  top: 9.1rem;
  width: 3rem;
}

/* media queries for tablets */
@media (max-width: 768px) {
  .Profile {
    /* styling for tablets or ipads */
    position: absolute;
    width: 100vw;
    height: 7.1rem;
    left: 0px;
    top: 0px;

    background-color: var(--clr-white);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
}

/* media queries for larger screens */
@media (max-width: 912px) {
  .Profile {
    /* styling for larger screens */
    position: absolute;
    width: 100vw;
    height: 7.1rem;
    left: 0px;
    top: 0px;

    background-color: var(--clr-white);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
}
