.profile {
  border-radius: 2rem;
}

.profile-heading {
  position: absolute;

  bottom: 80.66%;
  left: 5.33%;
  right: 78.93%;
  top: 13.64%;

  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.8rem;
}

.profile-picture {
  position: absolute;

  height: 12.9rem;
  left: 12.3rem;
  top: 16.1rem;
  width: 12.9rem;
}

.profile-cta-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px 23px;

  position: absolute;
  width: 254px;
  height: 64px;
  left: 195px;
  top: 116px;
}
