.searchbox {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: .4rem .8rem;
  border-radius: 25px;
  background-color: var(--clr-white);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.searchbox input[type="search"] {
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  padding-left: .5rem;
  font-family: inherit;
  font-weight: light;
  font-size: 1.5rem;
  width: 90%;
 }

.searchbox input::-webkit-input-placeholder {
    color: var(--clr-royal-blue);
}

.searchbox input::-webkit-search-cancel-button {
    appearance: none;
}

.searchbox__btn {
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-light-blue);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.searchbox__btn:active {
  box-shadow: inset 0 0 0.2rem var(--clr-royal-blue);
}

@media(max-width: 375px) {
  .searchbox {
    width: 100%;
  }
}
