.Signup {
    background-color:  var(--clr-royal-blue);
}

.Signup__logo-illustration-container {
    /* background-color: var(--clr-royal-blue); */
}

.Signup__illustration {
    display: none;
}

.Signup__logo-blue {
    display: none !important;
}
