.Signup {
    padding: 10px 26px;
    height: 100vh;
    background-color: var(--clr-light-royal-blue);
}

.Signup__illustration {
    display: none;
}

.Signup__logo-blue {
    display: none !important;
}

.Signup__form__container {
    padding: 0 20px;
}

.Signup__form__control-buttons {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 25px;    
}

.Signup__form__heading {
    font-family:  var(--ff-text);
    color: white;
    margin-top: 50px;
}